gunicorn==20.1.0
psycopg2==2.8.6
asgiref==3.6.0
backports.zoneinfo==0.2.1
cffi==1.15.1
cryptography==39.0.0
Django==4.1.6
django-extensions==3.2.1
django-rest-knox==4.2.0
djangorestframework==3.14.0
drf-extensions==0.7.1
Pillow==9.4.0
pycparser==2.21
pytz==2022.7.1
sqlparse==0.4.3
whitenoise==6.3.0